[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
optifolio = "==0.4.6"
pandas-datareader = "*"
bokeh = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
