<!DOCTYPE html>
<html lang="en">
<!-- Base Template for all of our HTML Pages -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="static/images/favicon.png">
  <link rel="stylesheet" href="static/styles.css">

  <!-- ===== IONICONS ===== -->
  <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <!-- ========== PAGE HEADER (START) ========== -->
  <header class="header">

    <!-- PAGE TITLE -->
    <h1 class="header_title"><span class="active"> &nbsp; </span> &nbsp; Portfolio optimizer</h1>

    <!-- NAVIGATION MENU -->
    <nav class="nav__menu">
        <ul>
          {% if is_index == True %}
            <li class="active"><a href="{{ url_for('dashboard.index') }}">HOME</a></li>
            <li><a href="{{ url_for('dashboard.info') }}">INFO</a></li>
          {% else %}
            <li><a href="{{ url_for('dashboard.index') }}">HOME</a></li>
            <li class="active"><a href="{{ url_for('dashboard.info') }}">INFO</a></li>
          {% endif %}
        </ul>
    </nav>

    <!-- API LINK -->
    <nav class="nav__menu">
      <ul>
        <li>
          <a href="https://github.com/kristianbonnici/portfolio-optimization-web-app" class="nav__social-icon" target="_blank">
            <ion-icon name="logo-github"></ion-icon>
          </a>
        </li>
      </ul>
    </nav>

  </header>
  <!-- ========== PAGE HEADER (END) ========== -->


  <!-- ========== CONTENT (START) ========== -->
  <div class="content-wrap">

    <!-- ========== FLASH MESSAGES ========== -->
    {% for message in get_flashed_messages() %}
    <div class="alert-message">{{ message }}</div>
    {% endfor %}

    {% block content_wrap %}{% endblock %}
  </div>

  {% block body %}{% endblock %}
</body>

</html>
