{% extends 'base.html' %}

{% block title %}Portfolio Optimizer{% endblock %}

{% block content_wrap %}

<h1>Input:</h1>

<form action="#" method="post">
  <div class="input-wrapper">
    <div class="box">
      <label for="tickers">Stock tickers (press space after each):</label>
      <div class="tag-container">
        <input name="tickers">
      </div>
      <script>
        const tagContainer = document.querySelector('.tag-container');
        const input = document.querySelector('.tag-container input');

        let tags = [];

        function createTag(label) {
          const div = document.createElement('div');
          div.setAttribute('class', 'tag');
          const span = document.createElement('span');
          span.innerHTML = label;
          const closeIcon = document.createElement('i');
          closeIcon.innerHTML = 'X';
          closeIcon.setAttribute('class', 'material-icons');
          closeIcon.setAttribute('data-item', label);
          div.appendChild(span);
          div.appendChild(closeIcon);
          return div;
        }
        function clearTags() {
          document.querySelectorAll('.tag').forEach(tag => {
            tag.parentElement.removeChild(tag);
          });
        }
        function addTags() {
          clearTags();
          tags.slice().reverse().forEach(tag => {
            tagContainer.prepend(createTag(tag));
          });
        }
        input.addEventListener('keyup', (e) => {
          if (e.keyCode == 32) {
            e.target.value.split(',').forEach(tag => {
              tags.push(tag);
            });
            addTags();
            input.value = '';
            console.log(tags)
          }
        });
        document.addEventListener('DOMContentLoaded', ()=>{
            document.getElementById('btn').addEventListener('click', saveJSON);
        });
        function saveJSON() {
          input.value = tags;
        }
        document.addEventListener('click', (e) => {
          console.log(e.target.tagName);
          if (e.target.tagName === 'I') {
            const tagLabel = e.target.getAttribute('data-item');
            const index = tags.indexOf(tagLabel);
            tags = [...tags.slice(0, index), ...tags.slice(index + 1)];
            addTags();
          }
        })
        input.focus();
      </script>
    </div>


    <div class="input-grid">

      <div class="box">
        <label for="start">Start date:</label>
        <input type="date" name="start" min="1980-01-01" max="2050-12-31" value="2020-01-01" class="date">
      </div>

      <div class="box">
        <label for="end">End date:</label>
        <input type="date" name="end" min="1980-01-01" max="2050-12-31" value="2020-12-31" class="date">
      </div>

      <div class="box">
        <label for="benchmark">Benchmark ticker:</label>
        <input type="text" name="benchmark" value="^GSPC" maxlength="8">
      </div>

      <div class="box">
        <label for="min-ret">Min return: <span class="slider-value" id="slider-value"></span> %</label>
        <input type="range" name="min-ret" min="-10" max="30" value="0" class="slider" step="0.01" id="slider">
        <script>
          var slider = document.getElementById("slider");
          var output = document.getElementById("slider-value");
          output.innerHTML = slider.value;
          slider.oninput = function() {
            output.innerHTML = this.value;
          }
        </script>
      </div>

    </div>
  </div>
  <input type="submit" value="OPTIMIZE" class="submit-button" id="btn">
</form>


{% if div1 %}
  <h1>Optimal Portfolio:</h1>

  <div class="plot-wrapper">

    <div class="box">
      {{ div1 | safe }}
      {{ script1 | safe }}
    </div>

    <div class="box">
      {{ div2 | safe }}
      {{ script2 | safe }}
    </div>

  </div>

  <div class="box" style="margin-top: 1rem;">
    {{ div3 | safe }}
    {{ script3 | safe }}
  </div>

<script src="https://cdn.bokeh.org/bokeh/release/bokeh-{{bokeh_version}}.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-{{bokeh_version}}.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-{{bokeh_version}}.min.js"
        crossorigin="anonymous"></script>

<h1>Summary:</h1>

<div class="flex-tables box">
  <table>
    <tr>
      <th>Ticker</th>
      <th>Weight</th>
    </tr>
    {% for item in stock_names %}
        {% set stock = stock_names[loop.index-1] %}
        {% set weight = stock_weights[loop.index-1] %}
        <tr>
          <td>{{ stock }}</td>
          <td>{{ '%0.1f' % weight|float }} %</td>
        </tr>
    {% endfor %}
  </table>

  <table>
    <tr>
      <th>Portfolio</th>
      <th>Value</th>
    </tr>
        <tr>
          <td>Expected Annual Return</td>
          <td>{{ '%0.0f' % ret|float }} %</td>
        </tr>
        <tr>
          <td>Expected Annual Volatility</td>
          <td>{{ '%0.0f' % vol|float }} %</td>
        </tr>
        <tr>
          <td>Risk Free Return</td>
          <td>{{ '%0.0f' % rf_ret|float }} %</td>
        </tr>
        <tr>
          <td>Sharpe Ratio</td>
          <td>{{ '%0.2f' % sharpe|float }}</td>
        </tr>
  </table>
</div>

{% endif %}

{% endblock %}
