{% extends 'base.html' %}

{% block title %}Portfolio Optimizer{% endblock %}

{% block content_wrap %}

<div class="input-wrapper">
  <div class="box">
    Stock tickers (press enter after each):
    <div class="tag-container">
      <input />
    </div>
    <script>
      const tagContainer = document.querySelector('.tag-container');
      const input = document.querySelector('.tag-container input');

      let tags = [];

      function createTag(label) {
        const div = document.createElement('div');
        div.setAttribute('class', 'tag');
        const span = document.createElement('span');
        span.innerHTML = label;
        const closeIcon = document.createElement('i');
        closeIcon.innerHTML = 'X';
        closeIcon.setAttribute('class', 'material-icons');
        closeIcon.setAttribute('data-item', label);
        div.appendChild(span);
        div.appendChild(closeIcon);
        return div;
      }
      function clearTags() {
        document.querySelectorAll('.tag').forEach(tag => {
          tag.parentElement.removeChild(tag);
        });
      }
      function addTags() {
        clearTags();
        tags.slice().reverse().forEach(tag => {
          tagContainer.prepend(createTag(tag));
        });
      }
      input.addEventListener('keyup', (e) => {
        if (e.key === 'Enter') {
          e.target.value.split(',').forEach(tag => {
            tags.push(tag);
          });
          addTags();
          input.value = '';
        }
      });
      document.addEventListener('click', (e) => {
        console.log(e.target.tagName);
        if (e.target.tagName === 'I') {
          const tagLabel = e.target.getAttribute('data-item');
          const index = tags.indexOf(tagLabel);
          tags = [...tags.slice(0, index), ...tags.slice(index + 1)];
          addTags();
        }
      })
      input.focus();
    </script>
  </div>


  <div class="input-grid">
    <div class="box">
      <label for="start">Start date:</label>
      <input type="date" min="2010-01-01" max="2025-12-31" value="2020-01-01" class="date">
    </div>
    <div class="box">
      <label for="start">End date:</label>
      <input type="date" min="2010-01-01" max="2025-12-31" value="2020-12-31" class="date">
    </div>
    <div class="wide-box">
      <label for="min-ret">Min return: <span class="slider-value" id="slider-value"></span> %</label>
      <input type="range" min="0" max="30" value="0" class="slider" step="0.01" id="slider">
      <script>
        var slider = document.getElementById("slider");
        var output = document.getElementById("slider-value");
        output.innerHTML = slider.value;
        slider.oninput = function() {
          output.innerHTML = this.value;
        }
      </script>
    </div>
  </div>

</div>







{% endblock %}
